body {
	background: linear-gradient(to right, #008000, #00CD00);
}

.center {
	text-align: center;
}

.nav-color {
	background-color: #006100;
}

.dropdown-menu {
	background-color: #006100;
}

.dropdown-item {
	color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
	background-color: #006100;
	color: rgba(255,255,255,.75);
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #006100;
}

.jumbotron {
	background-color: transparent;
	color: white;
}
