body {
	background: linear-gradient(to right, #008000, #00CD00);
}

h1 {
	margin-bottom: 1.5rem;
}

img	{
	max-width: 100%;
    height: auto;
}

.main-div {
	color: white;
	padding: 4rem 2rem;
}

.center {
	text-align: center;
}

.nav-color {
	background-color: #006100;
}

.dropdown-menu {
	background-color: #006100;
}

.dropdown-item {
	color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
	background-color: #006100;
	color: rgba(255,255,255,.75);
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: #006100;
}

.jumbotron {
	background-color: transparent;
	color: white;
}
